[submodule "static/ace-builds"]
	path = static/ace-builds
	url = git://github.com/ajaxorg/ace-builds.git
[submodule "alglib/oandapy"]
	path = alglib/oandapy
	url = git://github.com/RayCui/oandapy.git
[submodule "static/highcharts"]
	path = static/highcharts
	url = git://github.com/highslide-software/highcharts.com.git
