/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar .container{
  box-shadow: 0px 2px 2px #111111;
  height: 40px;
  background-color: #101010;
}

#history{
  width:auto;
}

html, body{
  background-color: #222222;
}
#editor {
    height: 608px;
    width: auto;
    margin-top: 10px;
}

#candlestick-chart {
    width: auto;
    height: 385px;
    margin-top: 45px;
}

#account-value-chart {
    width: auto;
    height: 385px;
    margin-top: 10px;
}

button{
  margin-top: 10px;
}

.col-lg-6, .col-lg-12{
    background-color: #222222;
    border-style:solid;
    border-width:1px;
}
#header-logo {
  color: transparent;
  background-image: url(../images/logo.png);
  width:112px; height: 20px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .container {
    width: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: auto;
  }
}
  @media (min-width: 2000px) {
  .container {
    width: auto;
  }
}