
<!DOCTYPE html>
<html>

<head>
    <style>
    #editor {
        height: 500px;
        width: 50%;
        border: 1px black solid;
    }
    </style>
</head>

<body>
    <button id="start">Start</button>
    <button id="stop">Stop</button>

    <div id="editor"></div>
    <div id="candlestick-chart"></div>
    <div id="account-value-chart"></div>
</body>

<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='ace-builds/src-noconflict/ace.js') }}"></script>
<script src="{{ url_for('static', filename='oanda.js') }}"></script>
<script src="{{ url_for('static', filename='highstock.js') }}"></script>
<script src="{{ url_for('static', filename='exporting.js') }}"></script>
<script src="{{ url_for('static', filename='indexjs.js') }}"></script>

</html>