
<!DOCTYPE html>
<html>

<head>
    <style>
    #editor {
        height: 500px;
        width: 50%;
        border: 1px black solid;
    }
    </style>
</head>

<body>
    <button id="start">Start</button>
    <button id="stop">Stop</button>

    <div id="editor"></div>
    <div id="candlestick-chart"></div>
</body>

<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='ace-builds/src-noconflict/ace.js') }}"></script>
<script src="{{ url_for('static', filename='oanda.js')}}"></script>
<script src="{{ url_for('static', filename='highstock.js')}}"></script>
<script src="{{ url_for('static', filename='exporting.js')}}"></script>

<script>
/*
	OANDA.baseURL = "https://api-fxpractice.oanda.com";
	OANDA.auth.token = 'b47aa58922aeae119bcc4de139f7ea1e-27de2d1074bb442b4ad2fe0d637dec22';
	OANDA.auth.enabled = true;
	var account_id = 3922748;
*/

    /*setup editor*/
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
    editor.getSession().setTabSize(4);
    editor.setValue("def initialize(context):\n    # set data and variables used in your trading algorithm\n    context.units = 1000\n\ndef handle_data(context):\n    # handles a data event\n    # put your algorithm here and make trades\n    \n    print context.units\n");

    $("#start").click(function(){
        var data = {};
        data['code'] = editor.getValue();
        var url = '/start/';

        alert(JSON.stringify(data));

        $.ajax({
          type: "POST",
          url: url,
          data: JSON.stringify(data),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json'
        });
    });

    $("#stop").click(function(){
        var url = '/stop/';

        alert("starting to stop");

        $.ajax({
          type: "POST",
          url: url,
          contentType: 'application/json; charset=utf-8',
          success: function(response) {
            alert("stopped");
          }
        });
    });

    var rates = new Array();

    function getHistory() {
        OANDA.rate.history("EUR_USD", {count: 1, candleFormat: "midpoint"}, function(rateHistoryResponse) {
            var priceInfo = rateHistoryResponse.candles[0];
            rates.push(ParseToArray(priceInfo));
        });
    }
    
    function ParseToArray(rate) {
        var testarray = new Array();
        testarray = [Date.parse(rate.time), rate.openMid, rate.highMid, rate.lowMid, rate.closeMid];
        return testarray
    }

    function constructor() {
        OANDA.rate.history("EUR_USD", {count: 20, candleFormat: "midpoint"}, function(rateHistoryResponse) {
            i = 0;
            var priceInfo;
            for (i; i < 20; i++) {
                priceInfo = rateHistoryResponse.candles[i];
                rates.push(ParseToArray(priceInfo));
            }

            $('#candlestick-chart').highcharts('StockChart', {
                chart : {
                    events : {
                        load : function() {
                            var series = this.series[0];
                            setInterval(function() {
                                getHistory();
                                series.addPoint(rates[rates.length - 1], true, true);
                            }, 5000);
                        }
                    }
                },

                title : {
                    text : 'AAPL Stock Price'
                },

                series : [{
                    type : 'candlestick',
                    name : 'AAPL Stock Price',
                    data : rates,
                }]
            });
        });
    }

    constructor();

</script>

</html>